<mat-card>
    <h1 class="ms-4 mt-4">Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="" class="profile-image">
                    <h1 class="mt-2"> {{usuario.nombre}} {{usuario.apellidos}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de usuario</td>
                                <td>{{usuario.username}}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{usuario.id}}</td>
                            </tr>
                            <tr>
                                <td>Telefono</td>
                                <td>{{usuario.telefono}}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{usuario.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{usuario.enabled ? "Activo" : "No activo"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="primary">Actualizar</button>
                    <button mat-raised-button color="accent">Compartir</button>
                </mat-card-actions>
            </div>
        </div>
        
    </mat-card-content>
</mat-card>