    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="../../../assets/img/Logo.png" alt="" width="200px" class="mb-4" routerLink="/inicio">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                    </div>
                                    <form class="user" (ngSubmit)="loguearUsuario()">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Username or Email</mat-label>
                                            <input [(ngModel)]="loginData.username" name="username" matInput required type="email" placeholder="Escribe tu nombre de usuario o email">
                                        </mat-form-field>
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input [(ngModel)]="loginData.password" name="password" matInput required type="password" placeholder="Escribe tu password">
                                        </mat-form-field>            
                                        <div class="container text-center">
                                            <button type="submit" mat-raised-button color="primary">Login</button>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" routerLink="/registro">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>